<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}
        <p>This site was created by Gino Casolaro. It uses data from mapbox.com and darksky.net!</p>
        <img class="portrait" src="/img/IMG_0081.jpg">
        
        {{>footer}}
    </body>

</html>